<div ng-controller="searchCtrl">
<form id="search-form" ng-submit="submit()">
  Enter Keywords: <input type="text" name="keywords" ng-model="keywords"><br>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>

<br>
<p> {{ showKeywords() }} </p>
<table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contactlist">
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.number}}</td>
        </tr>
      </tbody>
    </table>

</div>