<div ng-controller="searchCtrl">
<form id="search-form" ng-submit="submit()">
  Enter Keywords: <input type="text" name="keywords" ng-model="keywords"><br>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>

<br>
<p> {{ showKeywords() }} </p>
<table class="table">
      <thead>
        <tr>
          <th>City</th>
          <th>Min</th>
          <th>Max</th>
          <th>Avg</th>
          <th>Listings</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cgList">
          <td><strong>{{item.city}}</strong></td>
          <td>{{item.Min}}</td>
          <td>{{item.Max}}</td>
          <td>{{item.Average}}</td>
          <td>{{item.Entries}}</td>
        </tr>
      </tbody>
    </table>

</div>