<div ng-controller="searchCtrl">
<form id="search-form" ng-submit="submit()">
  Enter Keywords: <input type="text" name="keywords" ng-model="keywords"><br>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>

<br>
<p> {{ showKeywords() }} </p>
<table class="table">
      <thead>
        <tr>
          <tdh>City</th>
          <th>Title</th>
          <th>Price</th>
          <th>link</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cgList">
          <td><strong>{{item.city}}</strong></td>
          <td>{{item.title}}</td>
          <td>{{item.price}}</td>
          <td><a href="{{item.link}}">{{item.link}}</a></td>
        </tr>
      </tbody>
    </table>

</div>